html {
  font-family: Arial, Helvetica, sans-serif;
}

#layout-content {
  padding: 0 3rem;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-column > *:not(:last-child) {
  margin-bottom: 2rem;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container-row > *:not(:last-child) {
  margin-right: 2rem;
}

.button {
  padding: .5rem 0;
  background-color: skyblue;
  border: none;
  border-radius: 4px;
  font-size: large;
}

.button:active {
  background-color: slategrey;
}
